body {
    --white: #dfe0e2ff;
    --lightWhite: #fcd7adff;
    --black: #000000;
    --green: #4CAF50;
    --red: #f44336;
    --blue: #008CBA;
    --lightBlue:#05a8aaff;
}

main {
    background-color: var(--white);
    min-height:100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        color: var(--black);
        font-weight: bold;
    }

    .container-btn-solution {
        margin: 1rem;
    }

}
