.container-table {
    margin: 1rem 0 2rem 0;

    h2 {
        color: var(--black);
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    table {
        border: 1px solid var(--black);
        min-width: 35rem;
        border-collapse: collapse; 

        thead tr {
            font-weight: bold;
            font-size: 2rem;
            border-bottom: 1px solid var(--black);
        }

        tbody tr {
            font-size: 2rem;
            border-bottom: 1px solid var(--black);
        }

        th, td {
            padding: .5rem;
        }
    }

}